{% extends 'base.html' %}

{% block content %}

{% load cart %}
{% load custom_filter %}
<!-- body -->
<div class="container-fluid mt-3">
    <div class="row">


        <!-- filter -->

        <div class="col-lg-3 mx-auto">
            <div class="list-group">

                <a href="/" class="list-group-item list-group-item-action">All Products</a>

                {% for category in categories %}
                <a href="/?category={{category.id}}"
                   class="list-group-item list-group-item-action">{{category.name}}</a>
                {% endfor %}
            </div>
        </div>

        <!-- all products -->
        <div id='products' class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                <div class="card mx-auto mb-3" id={{product.id}} style="width: 18rem;">
                    <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title">{{product.name}}</p>
                        <p class="card-text"><b>{{product.price|currency}}</b></p>
                        <!-- {{product | is_in_cart:request.session.cart }} -->
                    </div>

                    <div class="card-footer p-0 no-gutters">


						{% if product|is_in_cart:request.session.cart %}
						<div class="row no-gutters">
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input hidden type="text" name='remove' value='True'>
								<input type="submit" value=" - " class="btn btn-block btn-light border-right">
							</form>
							<div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
							<form action="/#{{product.id}}" class="col-2 " method="post">
								{% csrf_token %}
								<input hidden type="text" name='product' value='{{product.id}}'>
								<input type="submit" value=" + " class="btn btn-block btn-light border-left">
							</form>
						</div>
						{% else %}
						<form action="/#{{product.id}}" method="POST" class="btn-block">
							{% csrf_token %}
							<input hidden type="text" name='product' value='{{product.id}}'>
							<input type="submit" class="float-right btn btn-light  form-control"
								value="Add To Cart">
						</form>
						{% endif %}

                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div>
    <footer class="footer-distributed">

			<div class="footer-left">
          <img src="img/logo.png">
				<h3><span>SHOPEASY</span></h3>
<!--------------------- you can add here whatevere you want
				<p class="footer-links">
					<a href="/Home">Home</a>
					|
					<a href="#">Blog</a>
					|
					<a href="#">About</a>
					|
					<a href="#">Contact</a>
				</p>----------------------->

				<p class="footer-company-name"> </p>
			</div>

			<div class="footer-center">
				<div>
					<i class="fa fa-map-marker"></i>
                    <p><span><b>Office Address:</b> 309 - Rupa Solitaire,
						 Bldg. No. A - 1, Sector - 1</span>
						Mahape, Navi Mumbai - 400710</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>Mobile No: +91 22-27782183</p>
				</div>
				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@eduonix.com">support@shopeasy.com</a></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span>About the company</span>
					E-commerce Website</p>
                <!----------------------for add icons --------------------------------------
				<div class="footer-icons">
					<a href="#"><i class="bi bi-facebook"></i></a>

					<a href="#"><i class="bi bi-whatsapp"></i></i></a>
					<a href="#"></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-youtube"></i></a>
				</div>------------------------------>
			</div>
		</footer>
<!------------------------------------------------------------------------>

</div>


{% endblock %}
